<div *ngIf="type; else signIn">
    <h1 mat-dialog-title>Are You Sure?</h1>
    <mat-dialog-content>
        <h3>Are you sure you want to leave your Neighborhood?.</h3>
        <button mat-raised-button color="primary" (click)="closeDialog()">
            Go Back
        </button>
        <button mat-raised-button (click)="logOut()">
            Yes
        </button>
    </mat-dialog-content>
</div>
<ng-template #signIn>
    <h1 mat-dialog-title>Umm... 😬</h1>
    <mat-dialog-content>
        <h3>You need to <span class="highlight">Sign In</span> first to Continue.</h3>
        <div class="img-holder">
            <img src="../../../assets/imgs/signIn.png" alt="Sign In To Continue" height="300" width="300">
        </div>
        <button mat-raised-button (click)="auth.googleSignIn()">
            <img src="../../../assets/imgs/google.png" alt="google">
            Continue with Google
        </button>
    </mat-dialog-content>
</ng-template>