<div class="row m-auto">
    <div class="col-5">
        <div class='post bg-dark' *ngFor="let i of [1, 2, 3, 4, 5]">
            <div class='panel-effect'>
                <div class='fake-effect bg-dark fe-0'></div>
                <div class='fake-effect bg-dark fe-1'></div>
                <div class='fake-effect bg-dark fe-2'></div>
                <div class='fake-effect bg-dark fe-3'></div>
                <div class='fake-effect bg-dark fe-4'></div>
                <div class='fake-effect bg-dark fe-5'></div>
                <div class='fake-effect bg-dark fe-6'></div>
                <div class='fake-effect bg-dark fe-7'></div>
                <div class='fake-effect bg-dark fe-8'></div>
                <div class='fake-effect bg-dark fe-9'></div>
                <div class='fake-effect bg-dark fe-10'></div>
                <div class='fake-effect bg-dark fe-11'></div>
            </div>
        </div>
    </div>
    <div class='post bg-dark col-5'>
        <div class='panel-effect'>
            <div class='fake-effect bg-dark fe-0'></div>
            <div class='fake-effect bg-dark fe-1'></div>
            <div class='fake-effect bg-dark fe-2'></div>
            <div class='fake-effect bg-dark fe-3'></div>
            <div class='fake-effect bg-dark fe-4'></div>
            <div class='fake-effect bg-dark fe-5'></div>
            <div class='fake-effect bg-dark fe-6'></div>
            <div class='fake-effect bg-dark fe-7'></div>
            <div class='fake-effect bg-dark fe-8'></div>
            <div class='fake-effect bg-dark fe-9'></div>
            <div class='fake-effect bg-dark fe-10'></div>
            <div class='fake-effect bg-dark fe-11'></div>
        </div>
    </div>
</div>