.post {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90vw;
    z-index: 99999999999;
    padding: 10px;
    margin: 10px auto;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 20px;
    border: 1px solid #62c9d5;
}

.panel-effect {
    position: relative;
    background: #afafaf no-repeat 800px 104px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjdmOCIvPjxzdG9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjZWRlZWYxIi8+PHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNmNmY3ZjgiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZjgiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -moz-linear-gradient(left, #f3f3f3 0%, #cecece 20%, #cecece 40%, #cecece 100%);
    background-image: -webkit-linear-gradient(left, #f3f3f3 0%, #cecece 20%, #cecece 40%, #cecece 100%);
    background-image: linear-gradient(to right, #f3f3f3 0%, #cecece 20%, #cecece 40%, #cecece 100%);
    height: 104px;
    -moz-animation: anim 1s forwards infinite linear;
    -webkit-animation: anim 1s forwards infinite linear;
    animation: anim 1s forwards infinite linear;
}

.fake-effect {
    position: absolute;
    background: #8a8a8a;
    right: 0;
    left: 0;
    height: 6px;
}

.fe-0 {
    height: 40px;
    left: 40px;
    width: 8px;
}

.fe-1 {
    height: 8px;
    left: 48px;
    top: 0;
    right: 0;
}

.fe-2 {
    left: 136px;
    top: 8px;
}

.fe-3 {
    height: 12px;
    left: 48px;
    top: 14px;
}

.fe-4 {
    left: 100px;
    top: 26px;
}

.fe-5 {
    height: 10px;
    left: 48px;
    top: 32px;
}

.fe-6 {
    height: 20px;
    top: 40px;
}

.fe-7 {
    left: 410px;
    top: 60px;
}

.fe-8 {
    height: 13px;
    top: 66px;
}

.fe-9 {
    left: 440px;
    top: 79px;
}

.fe-10 {
    height: 13px;
    top: 85px;
}

.fe-11 {
    left: 178px;
    top: 98px;
}

@keyframes anim {
    0% {
        background-position: -100vw 0;
        /* opacity: 1; */
    }
    100% {
        background-position: 100vw 0;
        /* opacity: 1; */
    }
}