<mat-toolbar style="z-index: 999; top: 0; position: fixed; background: #04242F; color: white;">
    <div class="m-3">
        <button mat-button (click)="goBack()">
            <mat-icon>arrow_back_ios_new</mat-icon>
        </button>
    </div>
    <div style="margin-bottom: 7px;">
        <h1>{{title}}</h1>
    </div>
</mat-toolbar>
<app-loader *ngIf="loadComplete==false"></app-loader>
<mat-card *ngIf="loadComplete==true" class="bg-light text-dark mx-2" style="margin-top: 65px;">
    <mat-card-header>
        <mat-chip-list aria-label="PostData type">
            <mat-chip *ngIf="postData.type=='announcement'" color="accent" selected class="text-capitalize">{{postData.type}}</mat-chip>
            <mat-chip *ngIf="postData.type=='question'" color="primary" selected class="text-capitalize">{{postData.type}}</mat-chip>
        </mat-chip-list>
        <img src="{{postData.author.image}}" mat-card-avatar>
        <mat-card-title><a class="text-dark" routerLink="/profile/{{postData.author.uid}}">{{postData.author.name}}</a></mat-card-title>
        <mat-card-subtitle class="text-secondary">• Living in <span class="highlight text-capitalize">{{postData.author.locality}}</span> since {{postData.author.living_since}} Years</mat-card-subtitle>
    </mat-card-header>
    <h1 mat-dialog-title>{{postData.content.title}}</h1>
    <pre style="white-space: pre-wrap;"><h4 mat-dialog-content>{{postData.content.description}}</h4></pre>
    <img *ngIf="postData.content.image" mat-card-image src="{{postData.content.image}}">
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-start">
            <button mat-icon-button (click)="incrementClaps()" class="col-6">
                <mat-icon fontSet="material-icons-outlined">mood</mat-icon>
                {{postData.content.claps}}
            </button>
            <button mat-icon-button class="col-6 ml-2">
                <mat-icon fontSet="material-icons-outlined">chat_bubble_outline</mat-icon>
                {{postData.answers}}
            </button>
            <button mat-icon-button (click)="openShareSheet(collection, postId, postData.author.name, postData.content.title)" class="col-6 ml-2">
                <mat-icon fontSet="material-icons-outlined">share</mat-icon>
            </button>
        </div>
        <ng-template #login>
            <div class="row d-flex justify-content-start">
                <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                    <mat-icon fontSet="material-icons-outlined">mood</mat-icon>    
                    {{postData.content.claps}}
                </button>
                <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                <mat-icon fontSet="material-icons-outlined">chat_bubble_outline</mat-icon>
                    {{postData.answers}}
                </button>
                <button mat-icon-button (click)="openShareSheet(collection, postId, postData.author.name, postData.content.title)" class="col-6 ml-2">
                    <mat-icon fontSet="material-icons-outlined">share</mat-icon>
                </button>
            </div>
        </ng-template>
    </mat-card-actions>
</mat-card>
<div class="container m-auto" *ngIf="answersLoaded == false">
    <app-loader></app-loader>
</div>
<div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="answersLoaded && commentsData.length == 0; else showComments">
    <div class="no-comments my-5"></div>
    <p>Nothing to Show. Be the first one to ANSWER.</p>
</div>
<ng-template #showComments>
    <mat-card *ngFor="let answer of commentsData; let i = index;" class="bg-light text-dark my-3">
        <div class="d-flex flex-row">
            <a class="text-dark" routerLink="/profile/{{answer.author.uid}}"><img src="{{answer.author.image}}" mat-card-avatar></a>
            <mat-card-header>
                <mat-card-title>
                    <a class="text-dark" routerLink="/profile/{{answer.author.uid}}">
                        {{answer.author.fullname}}
                        <mat-icon *ngIf="answer.author.role=='admin'" style="color: #4056ED; font-size: 20px;" class="mx-2">verified_user</mat-icon>
                        <mat-icon *ngIf="answer.author.uid==postData.author.uid" style="color:#62C9D5; font-size: 20px;" class="mx-2">self_improvement</mat-icon>
                    </a>
                </mat-card-title>
                <mat-card-subtitle class="text-secondary">• Living in <span class="highlight text-capitalize">{{answer.author.locality}}</span> since {{answer.author.living_since}} Years</mat-card-subtitle>
            </mat-card-header>
        </div>
        <!-- <mat-card-content>
            <p> {{answer.answer}} </p>
        </mat-card-content> -->
        <mat-card-content>
            <div id="answer{{i}}" (click)="navigateToProfile(answer)"> {{formatAnswer(i, answer)}} </div>
        </mat-card-content>

        <mat-divider></mat-divider>
        <mat-card-footer>
            <button mat-icon-button (click)="showReplyForm(i)">
                <mat-icon>{{showReply[i].icon}}</mat-icon>
                {{showReply[i].title}}
            </button>
            <app-reply (newReplyEvent)="addReply(i, $event)" *ngIf="showReply[i].showReplyButton === true" [replyData]="answer"></app-reply>
        </mat-card-footer>

    </mat-card>
</ng-template>
<div *ngIf="auth.userData">
    <app-comments *ngIf="postData && postData.city == null; else city" (newCommentEvent)="addComment($event)" [docRef]="'local'" [postId]="postId"></app-comments>
    <ng-template #city>
        <app-comments *ngIf="postData" (newCommentEvent)="addComment($event)" [docRef]="'city'" [postId]="postId"></app-comments>
    </ng-template>
</div>