a {
    text-decoration: none;
}

.no-comments {
    background-repeat: no-repeat;
    min-height: 245px;
    min-width: 300px;
    background-size: contain;
    background-position: top;
    background-image: url('../../../assets/imgs/null-comments.svg');
}

.mat-icon-button {
    min-width: 60px;
}