<div *ngIf="isMobile!='true'; else mobileView">
    <mat-toolbar style="background-color: black; color: white; position: fixed; top:0; z-index: 999;">
        <div style="margin-bottom: 7px;">
            <h1>Notifications</h1>
        </div>
    </mat-toolbar>
    <div *ngFor="let notification of notifs$">
        <a routerLink="{{notification.content.redirectUrl}}">
            <pre>{{ notification | json }}</pre>
        </a>
    </div>
</div>
<ng-template #mobileView>
    <mat-toolbar style="background-color: black; color: white; position: fixed; top:0; z-index: 999;">
        <div class="m-3">
            <mat-icon>menu</mat-icon>
        </div>
        <div style="margin-bottom: 7px;">
            <h1>Notifications</h1>
        </div>
    </mat-toolbar>
</ng-template>