<div *ngIf="isMobile != 'true'; else mobileTemplate">
    <div class="row w-100 m-auto">
        <div class="col-8">
            <mat-toolbar style="top: 0; z-index: 999;">
                <div style="margin-bottom: 7px;">{{title}}</div>
            </mat-toolbar>
            <mat-tab-group dynamicHeight (selectedTabChange)="loadData($event.index)" color="primary" mat-align-tabs="center">
                <mat-tab label="Local">
                    <div class="bg-light w-100 my-2 post-prompt">
                        <a [routerLink]="['/create']" [queryParams]="{ feed: 'local'}" class="d-flex flex-row justify-content-st px-4 py-2">
                            <mat-icon style="margin-top: 5px;">maps_ugc</mat-icon>
                            <input type="text" class="w-100 mx-4" placeholder="Create Post" style="background-color: rgb(224, 224, 224); border: 1px solid #1c1c1c; border-radius: 9px;">
                            <button mat-button>Post</button>
                        </a>
                    </div>
                    <div class="d-flex flex-row">
                        <mat-icon>place</mat-icon>
                        <p>Showing posts in <span class="text-capitalize highlight">{{neighborhood}}</span></p>
                    </div>
                    <div *ngIf="auth.user$ | async as user">
                        <mat-slider *ngIf="user.role==='admin'" thumbLabel [(ngModel)]="radius" (change)="getPosts(lat, lon, radius, null)" [displayWith]="formatLabel" step="500" min="500" max="20000" aria-label="units"></mat-slider>
                    </div>
                    <app-loader *ngIf="loadComplete==false"></app-loader>
                    <div class="container" *ngIf="loadComplete==true">
                        <div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="nearbyPosts && nearbyPosts.length == 0">
                            <div class="no-posts my-3"></div>
                            <h1>There are no Posts in your Neighborhood. Go ahead and <button mat-raised-button [routerLink]="['/create']" [queryParams]="{ feed: 'local' }" color="primary">Create One</button> </h1>
                        </div>
                        <div class="example-card" *ngFor="let post of nearbyPosts; let i = index">
                            <mat-card class="bg-light text-dark" style="cursor: pointer;">
                                <mat-card-header (click)="openPost('local', i)">
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip *ngIf="post.type=='announcement'" color="accent" selected class="text-capitalize">{{post.type}}</mat-chip>
                                        <mat-chip *ngIf="post.type=='question'" color="primary" selected class="text-capitalize">{{post.type}}</mat-chip>
                                    </mat-chip-list>
                                    <a routerLink="profile/{{post.author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{post.author.image}});"></a>
                                    <mat-card-title><a routerLink="profile/{{post.author.uid}}">{{post.author.name}}</a></mat-card-title>
                                    <mat-card-subtitle class="text-secondary">• {{getDate(post.postedOn._seconds)}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content (click)="openPost('local', i)">
                                    <h2>
                                        {{post.content.title}}
                                    </h2>
                                    <div class="d-flex justify-content-center">
                                        <img *ngIf="post.content.image" mat-card-image src="{{post.content.image}}" class="post-image my-2">
                                    </div>
                                    <mat-card-subtitle class="text-secondary">~ {{post.hitMetadata.distance.toString().slice(0, 4)}} km away from you</mat-card-subtitle>
                                </mat-card-content>
                                <mat-divider></mat-divider>
                                <mat-card-actions>
                                    <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-start">
                                        <button mat-icon-button (click)="incrementClaps('local', post.id, i)" class="col-6">
                                                    <mat-icon svgIcon="claps"></mat-icon>
                                                    {{post.content.claps}}
                                                </button>
                                        <button mat-icon-button (click)="openPost('local', i)" class="col-6 ml-2">
                                                    <mat-icon>forum</mat-icon>
                                                    {{post.answers}}
                                                </button>
                                        <button mat-icon-button (click)="copyToClipboard('local', post.id)" class="col-6 ml-2">
                                                    <mat-icon>share</mat-icon>
                                                </button>
                                    </div>
                                    <ng-template #login>
                                        <div class="row d-flex justify-content-start">
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                                                        <mat-icon svgIcon="claps"></mat-icon>
                                                        {{post.content.claps}}
                                                    </button>
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                                                        <mat-icon>forum</mat-icon>
                                                        {{post.answers}}
                                                    </button>
                                            <button mat-icon-button (click)="copyToClipboard('local', post.id)" class="col-6 ml-2">
                                                        <mat-icon>share</mat-icon>
                                                    </button>
                                        </div>
                                    </ng-template>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="City" (click)="getCity('jaipur')">
                    <div class="bg-light w-100 my-2 post-prompt">
                        <a [routerLink]="['/create']" [queryParams]="{ feed: 'city'}" class="d-flex flex-row justify-content-st px-4 py-2">
                            <mat-icon style="margin-top: 5px;">maps_ugc</mat-icon>
                            <input type="text" class="w-100 mx-4" placeholder="Create Post" style="background-color: rgb(224, 224, 224); border: 1px solid #1c1c1c; border-radius: 9px;">
                            <button mat-button>Post</button>
                        </a>
                    </div>
                    <div class="d-flex flex-row">
                        <mat-icon>place</mat-icon>
                        <p>Showing posts in <span class="text-capitalize highlight">{{city}}</span></p>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="cityPosts && cityPosts.length == 0">
                            <div class="no-posts my-3"></div>
                            <h1>There are no Posts in your City. Go ahead and <button mat-raised-button [routerLink]="['/create']" [queryParams]="{ feed: 'city' }" color="accent">Create One</button></h1>
                        </div>
                        <div class="example-card" *ngFor="let post of cityPosts; let i = index">
                            <mat-card class="bg-light text-dark">
                                <mat-card-header>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip *ngIf="post.type=='announcement'" color="accent" selected class="text-capitalize">{{post.type}}</mat-chip>
                                        <mat-chip *ngIf="post.type=='question'" color="primary" selected class="text-capitalize">{{post.type}}</mat-chip>
                                    </mat-chip-list>
                                    <a routerLink="profile/{{post.author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{post.author.image}});"></a>
                                    <mat-card-title><a routerLink="profile/{{post.author.uid}}">{{post.author.name}}</a></mat-card-title>
                                    <mat-card-subtitle class="text-secondary">• {{getDate(post.postedOn._seconds)}}</mat-card-subtitle>
                                </mat-card-header>
                                <a (click)="openPost('city', i)" routerLink="">
                                    <mat-card-content>
                                        <h2>
                                            {{post.content.title}}
                                        </h2>
                                        <div class="d-flex justify-content-center">
                                            <img *ngIf="post.content.image" mat-card-image src="{{post.content.image}}" class="post-image my-2">
                                        </div>
                                        <mat-card-subtitle class="text-secondary">Posted in {{post.city}}</mat-card-subtitle>
                                    </mat-card-content>
                                </a>
                                <mat-divider></mat-divider>
                                <mat-card-actions>
                                    <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-start">
                                        <button mat-icon-button (click)="incrementClaps('city', post.id, i)" class="col-6">
                                                    <mat-icon svgIcon="claps"></mat-icon>
                                                    {{post.content.claps}}
                                                </button>
                                        <button mat-icon-button (click)="openPost('city', i)" class="col-6 ml-2">
                                                    <mat-icon>forum</mat-icon>
                                                    {{post.answers}}
                                                </button>
                                        <button mat-icon-button (click)="copyToClipboard('city', post.id)" class="col-6 ml-2">
                                                    <mat-icon>share</mat-icon>
                                                </button>
                                    </div>
                                    <ng-template #login>
                                        <div class="row d-flex justify-content-start">
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                                                        <mat-icon svgIcon="claps"></mat-icon>
                                                        {{post.content.claps}}
                                                    </button>
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                                                        <mat-icon>forum</mat-icon>
                                                        {{post.answers}}
                                                    </button>
                                            <button mat-icon-button (click)="copyToClipboard('city', post.id)" class="col-6 ml-2">
                                                        <mat-icon>share</mat-icon>
                                                    </button>
                                        </div>
                                    </ng-template>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-4" style="min-height: 100vh;">
            <mat-toolbar style="z-index: 999;position: fixed;justify-content: flex-end;width: 24%;">
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                 <mat-icon>notifications</mat-icon>
               </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>account_circle</mat-icon>
              </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>settings</mat-icon>
              </button>
            </mat-toolbar>
        </div>
    </div>
</div>

<!-- Mobile Template -->

<ng-template #mobileTemplate>
    <div style="margin-top: 50px!important;" class="gutter"></div>

    <mat-sidenav-container>
        <mat-sidenav [(opened)]="mobileNavOpened" [fixedInViewport]="true">
            <mat-nav-list>
                <div *ngIf="auth.user$ | async as user; else login">
                    <img src="{{user.imageURL}}" alt="User Image" class="mobileUserImage">
                    <h1 class="d-flex justify-content-center">{{user.fullname}}</h1>
                    <a routerLink="profile/{{user.uid}}/" mat-list-item>
                        <mat-icon matListIcon>person_outline</mat-icon>
                        <h1 matLine>My Profile</h1>
                    </a>
                    <a mat-list-item (click)="openLogoutConfirmation()">
                        <mat-icon matListIcon>logout</mat-icon>
                        <h1 matLine>Logout</h1>
                    </a>
                </div>
                <ng-template #login>
                    <a mat-list-item (click)="auth.googleSignIn()">
                        <mat-icon matListIcon>login</mat-icon>
                        <h1 matLine>Sign in with Google</h1>
                    </a>
                </ng-template>
                <a routerLink="" mat-list-item>
                    <mat-icon matListIcon>settings</mat-icon>
                    <h1 matLine>Settings</h1>
                </a>
                <a mat-list-item href="https://forms.gle/wduNLsdHFpNBuW8i9" target="_blank">
                    <mat-icon matListIcon class="text-dark">feed</mat-icon>
                    <h1 matLine>Submit Feedback</h1>
                </a>
                <a mat-list-item href="https://forms.gle/wduNLsdHFpNBuW8i9" target="_blank">
                    <mat-icon matListIcon class="text-dark">bug_report</mat-icon>
                    <h1 matLine>Report a Bug</h1>
                </a>
                <a mat-list-item [matMenuTriggerFor]="moreMenu">
                    <mat-icon matListIcon>more_vert</mat-icon>
                    <h1 matLine>More</h1>
                </a>
                <mat-menu #moreMenu="matMenu" yPosition="below">
                    <a mat-menu-item href="https://local-eyes.tech/" target="_blank">
                        <mat-icon class="text-dark">cottage</mat-icon>
                        <span>What is LocalEyes?</span>
                    </a>
                    <a mat-menu-item href="https://localeyesblog.pythonanywhere.com/" target="_blank">
                        <mat-icon class="text-dark">library_books</mat-icon>
                        <span>LocalEyes Blogs</span>
                    </a>

                    <a mat-menu-item href="https://local-eyes.tech/terms-of-use/" target="_blank">
                        <mat-icon class="text-dark">gavel</mat-icon>
                        <span>Terms of Use</span>
                    </a>
                    <a mat-menu-item href="https://local-eyes.tech/privacy-policy/" target="_blank">
                        <mat-icon class="text-dark">policy</mat-icon>
                        <span>Privacy Policy</span>
                    </a>
                    <a mat-menu-item href="mailto:team@local-eyes.tech" target="_blank">
                        <mat-icon class="text-dark">support_agent</mat-icon>
                        <span>Get Support</span>
                    </a>
                </mat-menu>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content (touchstart)="swipe($event, 'start')" (touchend)="swipe($event, 'end')">
            <a routerLink="create" class="fab" mat-fab aria-label="Example icon button with a delete icon">
                <img src="../../../assets/imgs/LOgo-07.png" alt="ask" height="100px" style="height:40px; margin: -5px; position: relative;">
            </a>
            <mat-toolbar style="background-color: black; color: white; position: fixed; top:0; z-index: 999;">
                <div class="m-3">
                    <a (click)="mobileNavOpened=!mobileNavOpened">
                        <mat-icon>menu</mat-icon>
                    </a>
                </div>
                <div style="margin-bottom: 7px;">
                    <h1>{{title}}</h1>
                </div>
            </mat-toolbar>
            <mat-tab-group dynamicHeight [selectedIndex]="selectedTabIndex" (selectedTabChange)="loadData($event.index)" color="primary" mat-align-tabs="center">
                <mat-tab label="Local">
                    <app-loader *ngIf="loadComplete==false"></app-loader>
                    <div class="d-flex flex-row">
                        <mat-icon>place</mat-icon>
                        <p>Showing posts in <span class="text-capitalize highlight">{{neighborhood}}</span></p>
                    </div>
                    <div *ngIf="auth.user$ | async as user">
                        <mat-slider *ngIf="user.role==='admin'" thumbLabel [(ngModel)]="radius" (change)="getPosts(lat, lon, radius, null)" [displayWith]="formatLabel" step="500" min="500" max="20000" aria-label="units"></mat-slider>
                    </div>
                    <div class="container" *ngIf="loadComplete==true">
                        <div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="nearbyPosts && nearbyPosts.length == 0">
                            <div class="no-posts my-3"></div>
                            <h1>There are no Posts in your Neighborhood. Go ahead and <button mat-raised-button [routerLink]="['/create']" [queryParams]="{ feed: 'local' }" color="primary">Create One</button> </h1>
                        </div>
                        <div class="example-card" *ngFor="let post of nearbyPosts; let i = index">
                            <mat-card class="bg-light text-dark" style="cursor: pointer;">
                                <mat-card-header>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip *ngIf="post.type=='announcement'" color="accent" selected class="text-capitalize">{{post.type}}</mat-chip>
                                        <mat-chip *ngIf="post.type=='question'" color="primary" selected class="text-capitalize">{{post.type}}</mat-chip>
                                    </mat-chip-list>
                                    <a routerLink="profile/{{post.author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{post.author.image}});"></a>
                                    <mat-card-title><a routerLink="profile/{{post.author.uid}}">{{post.author.name}}</a></mat-card-title>
                                    <mat-card-subtitle class="text-secondary">• {{getDate(post.postedOn._seconds)}}</mat-card-subtitle>
                                </mat-card-header>
                                <a routerLink="post/local/{{post.id}}">
                                    <mat-card-content>
                                        <h2>
                                            {{post.content.title}}
                                        </h2>
                                        <img *ngIf="post.content.image" mat-card-image src="{{post.content.image}}">
                                        <mat-card-subtitle class="text-secondary">~ {{post.hitMetadata.distance.toString().slice(0, 4)}} km away from you</mat-card-subtitle>
                                    </mat-card-content>
                                </a>
                                <mat-divider></mat-divider>
                                <mat-card-actions>
                                    <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-start">
                                        <button mat-icon-button (click)="incrementClaps('local', post.id, i)" class="col-6">
                                            <mat-icon svgIcon="claps"></mat-icon>
                                            {{post.content.claps}}
                                        </button>
                                        <a mat-icon-button routerLink="post/local/{{post.id}}" class="col-6 ml-2">
                                            <mat-icon>forum</mat-icon>
                                            {{post.answers}}
                                        </a>
                                        <button mat-icon-button (click)="copyToClipboard('local', post.id)" class="col-6 ml-2">
                                            <mat-icon>share</mat-icon>
                                        </button>
                                    </div>
                                    <ng-template #login>
                                        <div class="row d-flex justify-content-start">
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                                                        <mat-icon svgIcon="claps"></mat-icon>
                                                        {{post.content.claps}}
                                                    </button>
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                                                        <mat-icon>forum</mat-icon>
                                                        {{post.answers}}
                                                    </button>
                                            <button mat-icon-button (click)="copyToClipboard('local', post.id)" class="col-6 ml-2">
                                                        <mat-icon>share</mat-icon>
                                                    </button>
                                        </div>
                                    </ng-template>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="City">
                    <div class="d-flex flex-row">
                        <mat-icon>place</mat-icon>
                        <p>Showing posts in <span class="text-capitalize highlight">{{city}}</span></p>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="cityPosts && cityPosts.length == 0">
                            <div class="no-posts my-3"></div>
                            <h1>There are no Posts in your City. Go ahead and <button mat-raised-button [routerLink]="['/create']" [queryParams]="{ feed: 'city' }" color="accent">Create One</button></h1>
                        </div>
                        <div class="example-card" *ngFor="let post of cityPosts; let i = index">
                            <mat-card class="bg-light text-dark">
                                <mat-card-header>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip *ngIf="post.type=='announcement'" color="accent" selected class="text-capitalize">{{post.type}}</mat-chip>
                                        <mat-chip *ngIf="post.type=='question'" color="primary" selected class="text-capitalize">{{post.type}}</mat-chip>
                                    </mat-chip-list>
                                    <a routerLink="profile/{{post.author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{post.author.image}});"></a>
                                    <mat-card-title><a routerLink="profile/{{post.author.uid}}">{{post.author.name}}</a></mat-card-title>
                                    <mat-card-subtitle class="text-secondary">• {{getDate(post.postedOn._seconds)}}</mat-card-subtitle>
                                </mat-card-header>
                                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                                <a routerLink="post/city/{{post.id}}">
                                    <mat-card-content>
                                        <h2>
                                            {{post.content.title}}
                                        </h2>
                                        <img *ngIf="post.content.image" mat-card-image src="{{post.content.image}}">
                                        <mat-card-subtitle class="text-secondary">Posted in {{post.city}}</mat-card-subtitle>
                                    </mat-card-content>
                                </a>
                                <mat-divider></mat-divider>
                                <mat-card-actions>
                                    <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-start">
                                        <button mat-icon-button (click)="incrementClaps('city', post.id, i)" class="col-6">
                                            <mat-icon svgIcon="claps"></mat-icon>
                                            {{post.content.claps}}
                                        </button>
                                        <a mat-icon-button routerLink="post/city/{{post.id}}" class="col-6 ml-2">
                                            <mat-icon>forum</mat-icon>
                                            {{post.answers}}
                                        </a>
                                        <button mat-icon-button (click)="copyToClipboard('city', post.id)" class="col-6 ml-2">
                                            <mat-icon>share</mat-icon>
                                        </button>
                                    </div>
                                    <ng-template #login>
                                        <div class="row d-flex justify-content-start">
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                                                        <mat-icon svgIcon="claps"></mat-icon>
                                                        {{post.content.claps}}
                                                    </button>
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                                                        <mat-icon>forum</mat-icon>
                                                        {{post.answers}}
                                                    </button>
                                            <button mat-icon-button (click)="copyToClipboard('city', post.id)" class="col-6 ml-2">
                                                        <mat-icon>share</mat-icon>
                                                    </button>
                                        </div>
                                    </ng-template>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-template>