<app-loader *ngIf="loadComplete==false"></app-loader>
<div class="row w-100 m-auto" *ngIf="loadComplete==true">
    <div class="col-8">
        <div class="container">
            <div class="example-card" *ngFor="let post of posts; let i = index">
                <mat-card class="bg-dark text-light">
                    <mat-card-header>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip *ngIf="posts[i].type=='announcement'" color="accent" selected class="text-capitalize">{{posts[i].type}}</mat-chip>
                            <mat-chip *ngIf="posts[i].type=='question'" color="primary" selected class="text-capitalize">{{posts[i].type}}</mat-chip>
                        </mat-chip-list>
                        <a routerLink="profile/{{posts[i].author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{posts[i].author.image}});"></a>
                        <mat-card-title><a routerLink="profile/{{posts[i].author.uid}}">{{posts[i].author.name}}</a></mat-card-title>
                        <mat-card-subtitle class="text-secondary">• {{getDate(posts[i].postedOn._seconds)}}</mat-card-subtitle>
                    </mat-card-header>
                    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                    <a (click)="openPost(i)" routerLink="">
                        <mat-card-content>
                            <h2>
                                {{posts[i].content.title}}
                            </h2>
                            <mat-card-subtitle class="text-secondary">~ {{posts[i].hitMetadata.distance.toString().slice(0, 4)}} km away from you</mat-card-subtitle>
                        </mat-card-content>
                    </a>
                    <mat-divider></mat-divider>
                    <mat-card-actions class="row">
                        <button mat-icon-button (click)="incrementClaps(posts[i].id, i)" class="col-6">
                            <mat-icon>celebration</mat-icon>
                            {{posts[i].content.claps}}
                        </button>
                        <mat-divider [vertical]="true" class="bg-light"></mat-divider>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="col-2">
        <app-profile></app-profile>
    </div>
</div>