<div *ngIf="isMobile != 'true'; else mobileTemplate">
    <mat-toolbar style="background-color: black; color: white; position: fixed; top: 0; z-index: 999;">
        <div style="margin-bottom: 7px;">{{title}}</div>
    </mat-toolbar>
    <mat-tab-group backgroundColor="primary" color="primary" mat-align-tabs="center">
        <mat-tab label="Local">
            <mat-button-toggle-group class="sorting-toggle m-auto col-6" #sortBy="matButtonToggleGroup">
                <mat-button-toggle value="new" (change)="getPosts(lat, lon, radius, sortBy.value)">Newest</mat-button-toggle>
                <mat-button-toggle value="popularity" (change)="getPosts(lat, lon, radius, sortBy.value)">Popular</mat-button-toggle>
            </mat-button-toggle-group>
            Radius:
            <mat-slider min="400" step="100" [(ngModel)]="radius" [displayWith]="formatThumb" (change)="getPosts(lat, lon, radius, null)" thumbLabel max="10000"></mat-slider>
            <app-loader *ngIf="loadComplete==false"></app-loader>
            <div class="container" *ngIf="loadComplete==true">
                <div class="example-card" *ngFor="let post of nearbyPosts; let i = index">
                    <mat-card class="bg-dark text-light" style="cursor: pointer;">
                        <mat-card-header (click)="openPost('local', i)">
                            <a routerLink="profile/{{nearbyPosts[i].author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{nearbyPosts[i].author.image}});"></a>
                            <mat-card-title><a routerLink="profile/{{nearbyPosts[i].author.uid}}">{{nearbyPosts[i].author.name}}</a></mat-card-title>
                            <mat-card-subtitle class="text-secondary">• {{getDate(nearbyPosts[i].postedOn._seconds)}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content (click)="openPost('local', i)">
                            <h2>
                                {{nearbyPosts[i].content.title}}
                            </h2>
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip *ngIf="nearbyPosts[i].type=='announcement'" color="accent" selected class="text-capitalize">{{nearbyPosts[i].type}}</mat-chip>
                                <mat-chip *ngIf="nearbyPosts[i].type=='question'" color="primary" selected class="text-capitalize">{{nearbyPosts[i].type}}</mat-chip>
                            </mat-chip-list>
                            <mat-card-subtitle class="text-secondary">~ {{nearbyPosts[i].hitMetadata.distance.toString().slice(0, 4)}} km away from you</mat-card-subtitle>
                        </mat-card-content>
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-around">
                                <button mat-icon-button (click)="incrementClaps('local', nearbyPosts[i].id, i)" class="col-6">
                                            <mat-icon>celebration</mat-icon>
                                            {{nearbyPosts[i].content.claps}}
                                        </button>
                                <button mat-icon-button (click)="openPost('local', i)" class="col-6 ml-2">
                                            <mat-icon>forum</mat-icon>
                                            {{nearbyPosts[i].answers}}
                                        </button>
                                <button mat-icon-button (click)="copyToClipboard('local', nearbyPosts[i].id)" class="col-6 ml-2">
                                            <mat-icon>share</mat-icon>
                                        </button>
                            </div>
                            <ng-template #login>
                                <div class="row d-flex justify-content-around">
                                    <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                                                <mat-icon>celebration</mat-icon>
                                                {{nearbyPosts[i].content.claps}}
                                            </button>
                                    <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                                                <mat-icon>forum</mat-icon>
                                                {{nearbyPosts[i].answers}}
                                            </button>
                                    <button mat-icon-button (click)="copyToClipboard('local', nearbyPosts[i].id)" class="col-6 ml-2">
                                                <mat-icon>share</mat-icon>
                                            </button>
                                </div>
                            </ng-template>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="City">
            <div class="container">
                <div class="example-card" *ngFor="let post of cityPosts; let i = index">
                    <mat-card class="bg-dark text-light">
                        <mat-card-header>
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip *ngIf="cityPosts[i].type=='announcement'" color="accent" selected class="text-capitalize">{{cityPosts[i].type}}</mat-chip>
                                <mat-chip *ngIf="cityPosts[i].type=='question'" color="primary" selected class="text-capitalize">{{cityPosts[i].type}}</mat-chip>
                            </mat-chip-list>
                            <a routerLink="profile/{{cityPosts[i].author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{cityPosts[i].author.image}});"></a>
                            <mat-card-title><a routerLink="profile/{{cityPosts[i].author.uid}}">{{cityPosts[i].author.name}}</a></mat-card-title>
                            <mat-card-subtitle class="text-secondary">• {{getDate(cityPosts[i].postedOn._seconds)}}</mat-card-subtitle>
                        </mat-card-header>
                        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                        <a (click)="openPost('city', i)" routerLink="">
                            <mat-card-content>
                                <h2>
                                    {{cityPosts[i].content.title}}
                                </h2>
                                <mat-card-subtitle class="text-secondary">Posted in {{cityPosts[i].city}}</mat-card-subtitle>
                            </mat-card-content>
                        </a>
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-around">
                                <button mat-icon-button (click)="incrementClaps('city', cityPosts[i].id, i)" class="col-6">
                                            <mat-icon>celebration</mat-icon>
                                            {{cityPosts[i].content.claps}}
                                        </button>
                                <button mat-icon-button (click)="openPost('city', i)" class="col-6 ml-2">
                                            <mat-icon>forum</mat-icon>
                                            {{cityPosts[i].answers}}
                                        </button>
                                <button mat-icon-button (click)="copyToClipboard('city', cityPosts[i].id)" class="col-6 ml-2">
                                            <mat-icon>share</mat-icon>
                                        </button>
                            </div>
                            <ng-template #login>
                                <div class="row d-flex justify-content-around">
                                    <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                                                <mat-icon>celebration</mat-icon>
                                                {{cityPosts[i].content.claps}}
                                            </button>
                                    <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                                                <mat-icon>forum</mat-icon>
                                                {{cityPosts[i].answers}}
                                            </button>
                                    <button mat-icon-button (click)="copyToClipboard('city', cityPosts[i].id)" class="col-6 ml-2">
                                                <mat-icon>share</mat-icon>
                                            </button>
                                </div>
                            </ng-template>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<!-- Mobile Template -->

<ng-template #mobileTemplate>
    <mat-sidenav-container>
        <mat-sidenav [(opened)]="mobileNavOpened" [fixedInViewport]="true">
            <mat-nav-list>
                <div *ngIf="auth.user$ | async as user; else login">
                    <img src="{{user.imageURL}}" alt="User Image" class="mobileUserImage">
                    <h1 class="d-flex justify-content-center">{{user.fullname}}</h1>
                    <a routerLink="profile/{{user.uid}}/" mat-list-item>
                        <mat-icon matListIcon>person_outline</mat-icon>
                        <h1 matLine>My Profile</h1>
                    </a>
                    <a mat-list-item (click)="auth.signOut()">
                        <mat-icon matListIcon>logout</mat-icon>
                        <h1 matLine>Logout</h1>
                    </a>
                </div>
                <ng-template #login>
                    <a mat-list-item (click)="auth.googleSignIn()">
                        <mat-icon matListIcon>login</mat-icon>
                        <h1 matLine>Sign in with Google</h1>
                    </a>
                </ng-template>
                <a routerLink="" mat-list-item>
                    <mat-icon matListIcon>settings</mat-icon>
                    <h1 matLine>Settings</h1>
                </a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <a routerLink="create" class="fab" mat-fab aria-label="Example icon button with a delete icon">
                <img src="../../../assets/imgs/LOgo-13.png" alt="ask" height="100px" style="height:40px; margin: -5px; position: relative;">
            </a>
            <mat-toolbar style="background-color: black; color: white; position: fixed; top:0; z-index: 999;">
                <div class="m-3">
                    <a (click)="mobileNavOpened=!mobileNavOpened">
                        <mat-icon>menu</mat-icon>
                    </a>
                </div>
                <div style="margin-bottom: 7px;">
                    <h1>{{title}}</h1>
                </div>
            </mat-toolbar>
            <mat-tab-group backgroundColor="primary" color="primary" mat-align-tabs="center">
                <mat-tab label="Local">
                    <mat-button-toggle-group class="sorting-toggle m-auto col-6" #sortBy="matButtonToggleGroup">
                        <mat-button-toggle value="new" (change)="getPosts(lat, lon, radius, sortBy.value)">Newest</mat-button-toggle>
                        <mat-button-toggle value="popularity" (change)="getPosts(lat, lon, radius, sortBy.value)">Popular</mat-button-toggle>
                    </mat-button-toggle-group>
                    Radius:
                    <mat-slider min="400" step="100" [(ngModel)]="radius" [displayWith]="formatThumb" (change)="getPosts(lat, lon, radius, null)" thumbLabel max="10000"></mat-slider>
                    <app-loader *ngIf="loadComplete==false"></app-loader>
                    <div class="container" *ngIf="loadComplete==true">
                        <div class="example-card" *ngFor="let post of nearbyPosts; let i = index">
                            <mat-card class="bg-light text-dark" style="cursor: pointer;">
                                <mat-card-header>
                                    <a routerLink="profile/{{nearbyPosts[i].author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{nearbyPosts[i].author.image}});"></a>
                                    <mat-card-title><a routerLink="profile/{{nearbyPosts[i].author.uid}}">{{nearbyPosts[i].author.name}}</a></mat-card-title>
                                    <mat-card-subtitle class="text-secondary">• {{getDate(nearbyPosts[i].postedOn._seconds)}}</mat-card-subtitle>
                                </mat-card-header>
                                <a routerLink="post/local/{{nearbyPosts[i].id}}">
                                    <mat-card-content>
                                        <h2>
                                            {{nearbyPosts[i].content.title}}
                                        </h2>
                                        <mat-chip-list aria-label="Fish selection">
                                            <mat-chip *ngIf="nearbyPosts[i].type=='announcement'" color="accent" selected class="text-capitalize">{{nearbyPosts[i].type}}</mat-chip>
                                            <mat-chip *ngIf="nearbyPosts[i].type=='question'" color="primary" selected class="text-capitalize">{{nearbyPosts[i].type}}</mat-chip>
                                        </mat-chip-list>
                                        <mat-card-subtitle class="text-secondary">~ {{nearbyPosts[i].hitMetadata.distance.toString().slice(0, 4)}} km away from you</mat-card-subtitle>
                                    </mat-card-content>
                                </a>
                                <mat-divider></mat-divider>
                                <mat-card-actions>
                                    <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-around">
                                        <button mat-icon-button (click)="incrementClaps('local', nearbyPosts[i].id, i)" class="col-6">
                                                    <mat-icon>celebration</mat-icon>
                                                    {{nearbyPosts[i].content.claps}}
                                                </button>
                                        <button mat-icon-button (click)="openPost('local', i)" class="col-6 ml-2">
                                                    <mat-icon>forum</mat-icon>
                                                    {{nearbyPosts[i].answers}}
                                                </button>
                                        <button mat-icon-button (click)="copyToClipboard('local', nearbyPosts[i].id)" class="col-6 ml-2">
                                                    <mat-icon>share</mat-icon>
                                                </button>
                                    </div>
                                    <ng-template #login>
                                        <div class="row d-flex justify-content-around">
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                                                        <mat-icon>celebration</mat-icon>
                                                        {{nearbyPosts[i].content.claps}}
                                                    </button>
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                                                        <mat-icon>forum</mat-icon>
                                                        {{nearbyPosts[i].answers}}
                                                    </button>
                                            <button mat-icon-button (click)="copyToClipboard('local', nearbyPosts[i].id)" class="col-6 ml-2">
                                                        <mat-icon>share</mat-icon>
                                                    </button>
                                        </div>
                                    </ng-template>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="City">
                    <div class="container">
                        <div class="example-card" *ngFor="let post of cityPosts; let i = index">
                            <mat-card class="bg-light text-dark">
                                <mat-card-header>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip *ngIf="cityPosts[i].type=='announcement'" color="accent" selected class="text-capitalize">{{cityPosts[i].type}}</mat-chip>
                                        <mat-chip *ngIf="cityPosts[i].type=='question'" color="primary" selected class="text-capitalize">{{cityPosts[i].type}}</mat-chip>
                                    </mat-chip-list>
                                    <a routerLink="profile/{{cityPosts[i].author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{cityPosts[i].author.image}});"></a>
                                    <mat-card-title><a routerLink="profile/{{cityPosts[i].author.uid}}">{{cityPosts[i].author.name}}</a></mat-card-title>
                                    <mat-card-subtitle class="text-secondary">• {{getDate(cityPosts[i].postedOn._seconds)}}</mat-card-subtitle>
                                </mat-card-header>
                                <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
                                <a routerLink="post/city/{{cityPosts[i].id}}">
                                    <mat-card-content>
                                        <h2>
                                            {{cityPosts[i].content.title}}
                                        </h2>
                                        <mat-card-subtitle class="text-secondary">Posted in {{cityPosts[i].city}}</mat-card-subtitle>
                                    </mat-card-content>
                                </a>
                                <mat-divider></mat-divider>
                                <mat-card-actions>
                                    <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-around">
                                        <button mat-icon-button (click)="incrementClaps('city', cityPosts[i].id, i)" class="col-6">
                                                    <mat-icon>celebration</mat-icon>
                                                    {{cityPosts[i].content.claps}}
                                                </button>
                                        <button mat-icon-button (click)="openPost('city', i)" class="col-6 ml-2">
                                                    <mat-icon>forum</mat-icon>
                                                    {{cityPosts[i].answers}}
                                                </button>
                                        <button mat-icon-button (click)="copyToClipboard('city', cityPosts[i].id)" class="col-6 ml-2">
                                                    <mat-icon>share</mat-icon>
                                                </button>
                                    </div>
                                    <ng-template #login>
                                        <div class="row d-flex justify-content-around">
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                                                        <mat-icon>celebration</mat-icon>
                                                        {{cityPosts[i].content.claps}}
                                                    </button>
                                            <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                                                        <mat-icon>forum</mat-icon>
                                                        {{cityPosts[i].answers}}
                                                    </button>
                                            <button mat-icon-button (click)="copyToClipboard('city', cityPosts[i].id)" class="col-6 ml-2">
                                                        <mat-icon>share</mat-icon>
                                                    </button>
                                        </div>
                                    </ng-template>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-template>