mat-sidenav {
    background-color: white;
    color: black;
    width: 300px;
}

mat-sidenav-closed {
    width: 100vw;
}

.mat-icon-button {
    min-width: 60px;
}

.mat-icon {
    font-size: 20px;
}

mat-sidenav-content {
    background-color: white;
    color: black;
}

.example-card {
    min-width: 98%!important;
    max-width: 98%!important;
    margin: 10px;
}

mat-card {
    border-radius: 20px;
    border: 2px solid #62c9d575;
}

mat-card:hover {
    border: 2px solid #62c9d5;
}

.bg-light a {
    text-decoration: none;
    color: black;
}

.bg-dark a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding-right: 0!important;
    padding-left: 0!important;
}

.example-header-image {
    background-size: cover;
}

.mat-tab-label .mat-tab-label-content {
    color: white !important
}

.mat-standard-chip {
    min-height: 24px;
}

.fab {
    background-color: #022b35;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 90px;
    z-index: 9999;
    right: 10px;
}

.mobileUserImage {
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    border-radius: 50%;
    margin: 30px 0;
    border: 2px solid #62c9d5
}