.example-card {
    min-width: 90%!important;
    max-width: 90%!important;
    margin: 10px;
}

mat-card {
    border-radius: 20px;
    border: 2px solid #62c9d575;
}

mat-card:hover {
    border: 2px solid #62c9d5;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.example-header-image {
    background-size: cover;
}

.mat-tab-label .mat-tab-label-content {
    color: white !important
}