::placeholder {
    color: grey;
}

.fixed {
    position: sticky;
    bottom: 0;
    z-index: 999999999;
    background: rgb(15, 15, 15);
}

.fixed-mobile {
    position: sticky;
    bottom: 0;
    z-index: 999999999;
    background: rgb(236, 236, 236)
}

.mat-form-field-wrapper {
    padding-bottom: 0em!important;
}