<div *ngIf="auth.user$ && auth.userData; else login" class="fixed">
    <form [formGroup]="comment" (ngSubmit)="postComment()">
        <div class="row align-items-center justify-content-start w-100">
            <mat-form-field appearance="outline" [ngClass]="{'col-10': isMobile=='false', 'col-9': isMobile=='true' }">
                <mat-label>Comment</mat-label>
                <textarea wrap="soft" matInput placeholder="Type your comment" formControlName="answer"></textarea>
            </mat-form-field>
            <div class="col-auto">
                <button mat-raised-button [disabled]="answer.invalid" color="primary" type="submit">
                    <mat-icon>add_comment</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>
<ng-template #login>
    <h1>You Need To Log In to Comment.</h1>
</ng-template>