<mat-sidenav-container *ngIf="!isMobile; else mobileNav">
    <mat-sidenav mode="side" opened [fixedInViewport]="true">
        <mat-nav-list class="p-3">
            <a routerLink="" class="nav-logo">
                <img src="../assets/imgs/LOgo-footer.png" alt="logo">
            </a>
            <mat-divider></mat-divider>
            <a routerLink="" mat-list-item class="mt-2">
                <mat-icon matListIcon>apartment</mat-icon>
                <h1 matLine>Local</h1>
            </a>
            <a routerLink="unanswered" mat-list-item>
                <mat-icon matListIcon>local_library</mat-icon>
                <h1 matLine>For You</h1>
            </a>
            <div *ngIf="auth.user$ | async as user; else login">
                <a routerLink="notifications" mat-list-item>
                    <mat-icon matListIcon>notifications</mat-icon>
                    <h1 matLine>Notifications</h1>
                </a>
                <a routerLink="profile/{{user.uid}}/" mat-list-item>
                    <mat-icon matListIcon>person_outline</mat-icon>
                    <h1 matLine>{{user.fullname}}</h1>
                </a>
                <a mat-list-item (click)="openLogoutConfirmation()">
                    <mat-icon matListIcon>logout</mat-icon>
                    <h1 matLine>Logout</h1>
                </a>
            </div>
            <ng-template #login>
                <a mat-list-item (click)="auth.googleSignIn()">
                    <mat-icon matListIcon>login</mat-icon>
                    <h1 matLine>Sign in with Google</h1>
                </a>
            </ng-template>
            <a routerLink="create" mat-list-item class="active">
                <mat-icon matListIcon>maps_ugc</mat-icon>
                <h1 matLine>Create New</h1>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="min-height: 100vh;">
        <div class="row w-100 m-auto">
            <div class="col-8">
                <div style="margin-top: 50px!important;" class="gutter"></div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #mobileNav>
    <div style="margin-top: 50px!important;" class="gutter"></div>
    <router-outlet></router-outlet>
    <div style="height: 80px;"></div>
    <mat-toolbar class="bottom-nav d-flex justify-content-center">
        <div class="row w-100">
            <div class="col-3 d-flex justify-content-center">
                <a routerLink="">
                    <mat-icon>home</mat-icon>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a routerLink="unanswered">
                    <mat-icon>local_library</mat-icon>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a routerLink="notifications">
                    <mat-icon>notifications</mat-icon>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center" *ngIf="auth.user$ | async as user; else loginMobile">
                <a routerLink="profile/{{user.uid}}">
                    <mat-icon>account_circle</mat-icon>
                </a>
            </div>
            <ng-template #loginMobile>
                <div class="col-3 d-flex justify-content-center">
                    <a (click)="openSignInChecker()">
                        <mat-icon>account_circle</mat-icon>
                    </a>
                </div>
            </ng-template>
        </div>
    </mat-toolbar>
</ng-template>