mat-sidenav-container {
    min-height: 100vh;
}

mat-sidenav {
    /* background-color: rgb(15, 15, 15);
    color: white; */
    width: 300px;
}

mat-sidenav-closed {
    width: 100vw;
}

.mat-list-item {
    font-size: 20px;
}

.mat-list-item:hover {
    background: #f3f3f3;
    color: black!important;
    width: auto;
    border-radius: 40px;
}

.active {
    background: #a8f6ff;
    color: black!important;
    width: auto;
    border-radius: 40px;
}

.nav-logo img {
    padding-left: 15%;
    margin: 20px 0;
}


/* mat-divider {
    border-top-color: rgba(255, 255, 255, 0.411);
} */

.bottom-nav {
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: white;
}