<mat-sidenav-container *ngIf="!isMobile; else mobileNav">
    <mat-sidenav mode="side" opened [fixedInViewport]="true">
        <mat-nav-list class="p-3">
            <a routerLink="" class="nav-logo">
                <img src="../assets/imgs/LOgo-footer.png" alt="logo">
            </a>
            <mat-divider></mat-divider>
            <a routerLink="" mat-list-item class="mt-2">
                <mat-icon matListIcon>home</mat-icon>
                <h1 matLine>Home</h1>
            </a>
            <a routerLink="unanswered" mat-list-item class="mt-2">
                <mat-icon matListIcon>local_library</mat-icon>
                <h1 matLine>Unanswered</h1>
            </a>
            <div *ngIf="auth.user$ | async as user; else login">
                <a routerLink="notifications" mat-list-item class="mt-2">
                    <mat-icon matListIcon>notifications</mat-icon>
                    <h1 matLine>Notifications</h1>
                </a>
                <a routerLink="profile/{{user.uid}}/" mat-list-item class="mt-2">
                    <mat-icon matListIcon>person_outline</mat-icon>
                    <h1 matLine>{{user.fullname}}</h1>
                </a>
                <!-- <a mat-list-item (click)="openLogoutConfirmation()">
                    <mat-icon matListIcon>logout</mat-icon>
                    <h1 matLine>Logout</h1>
                </a> -->
            </div>
            <ng-template #login>
                <a mat-list-item (click)="auth.googleSignIn()" class="mt-2">
                    <mat-icon matListIcon>login</mat-icon>
                    <h1 matLine>Sign in with Google</h1>
                </a>
            </ng-template>
            <a routerLink="create" mat-list-item class="mt-2 active">
                <mat-icon matListIcon>maps_ugc</mat-icon>
                <h1 matLine>Create New</h1>
            </a>
            <a mat-list-item [matMenuTriggerFor]="moreMenu" class="mt-2">
                <mat-icon matListIcon>more_vert</mat-icon>
                <h1 matLine>More</h1>
            </a>
            <mat-menu #moreMenu="matMenu" yPosition="below">
                <a mat-menu-item href="https://localeyes.in/" target="_blank">
                    <mat-icon class="text-dark">cottage</mat-icon>
                    <span>What is LocalEyes?</span>
                </a>
                <a mat-menu-item href="https://localeyesblog.pythonanywhere.com/" target="_blank">
                    <mat-icon class="text-dark">library_books</mat-icon>
                    <span>LocalEyes Blogs</span>
                </a>
                <a mat-menu-item href="https://forms.gle/wduNLsdHFpNBuW8i9" target="_blank">
                    <mat-icon class="text-dark">feed</mat-icon>
                    <span>Submit Feedback / Report a Bug</span>
                </a>
                <a mat-menu-item href="https://localeyes.in/tnc/" target="_blank">
                    <mat-icon class="text-dark">gavel</mat-icon>
                    <span>Terms of Use</span>
                </a>
                <a mat-menu-item href="https://localeyes.in/privacy-policy/" target="_blank">
                    <mat-icon class="text-dark">policy</mat-icon>
                    <span>Privacy Policy</span>
                </a>
                <a mat-menu-item href="mailto:team@localeyes.in" target="_blank">
                    <mat-icon class="text-dark">support_agent</mat-icon>
                    <span>Get Support</span>
                </a>
                <a mat-menu-item (click)="openLogoutConfirmation()" *ngIf="auth.user$ | async">
                    <mat-icon class="text-dark">logout</mat-icon>
                    <span>Logout</span>
                </a>
            </mat-menu>
            <a href="https://play.google.com/store/apps/details?id=tech.dagurmittal.app" mat-list-item class="mt-5" target="blank" *ngIf="isAndroid===true">
                <img src="../assets/imgs/playstore.jpeg" alt="playstore" style="height: 65px;">
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="min-height: 100vh;">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #mobileNav>
    <router-outlet></router-outlet>
    <div style="height: 80px;"></div>
    <mat-toolbar class="bottom-nav d-flex justify-content-center">
        <div class="row w-100 justify-content-between">
            <div class="col-3 d-flex justify-content-center">
                <a routerLink="">
                    <mat-icon class="text-dark">home</mat-icon>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a routerLink="notifications">
                    <mat-icon class="text-dark">notifications</mat-icon>
                </a>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <a routerLink="unanswered">
                    <mat-icon class="text-dark">feed</mat-icon>
                </a>
            </div>
            <!-- <div class="col-3 d-flex justify-content-center" *ngIf="auth.user$ | async as user">
                <a routerLink="profile/{{user.uid}}">
                    <mat-icon fontSet="material-icons-outlined" class="text-dark">account_circle</mat-icon>
                </a>
            </div> -->
            <!-- <ng-template #loginMobile>
                <div class="col-3 d-flex justify-content-center">
                    <a (click)="openSignInChecker()">
                        <mat-icon>account_circle</mat-icon>
                    </a>
                </div>
            </ng-template> -->
        </div>
    </mat-toolbar>
</ng-template>