<div *ngIf="isMobile=='false'; else mobileTemplate" class="row w-100 m-auto">
    <div class="col-lg-8 col-sm-12" style="border-radius: 15px; padding-left: 0; padding-right: 0;">
        <mat-toolbar style="top: 0; z-index: 9909;">
            <div class="m-3">
                <button mat-button (click)="goBack()">
                        <mat-icon>arrow_back_ios_new</mat-icon>
                    </button>
            </div>
            <div style="margin-bottom: 7px;">
                <h1>{{title}}</h1>
            </div>
        </mat-toolbar>
        <app-loader *ngIf="dataLoaded==false"></app-loader>
        <div *ngIf="dataLoaded==true" class="wrapper" style="border: 1px solid #0a4b52;">
            <div class="header">
                <img src="{{personData.imageURL}}" alt="UserImage" class="user-image my-2">
                <h1 class="user-name text-capitalize">{{personData.fullname}}</h1>
                <h3 class="user-email text-secondary">{{personData.email}}</h3>
                <mat-divider></mat-divider>
                <h2 class="bio text-capitalize">{{personData.bio}}</h2>
                <div class="location-info row my-3">
                    <div class="location-info-tag col-5 d-flex" *ngIf="personData.locality != null">
                        <mat-icon>place</mat-icon>
                        <p class="ms-2 highlight">{{personData.locality}}</p>
                    </div>
                    <div class="location-info-tag col-5 d-flex" *ngIf="personData.living_since != null">
                        <mat-icon>hourglass_bottom</mat-icon>
                        <p class="ms-2">Since {{personData.living_since}} Years</p>
                    </div>
                    <div class="location-info-tag col-5 d-flex text-secondary">
                        <mat-icon>date_range</mat-icon>
                        <p class="ms-2">Joined {{getJoiningDate(personData.createdOn._seconds)}}</p>
                    </div>
                </div>
                <button mat-raised-button color="primary" *ngIf="auth.userData && currentUser == personData.uid" routerLink="edit">Edit Profile</button>
            </div>

            <div class="tabs">
                <mat-tab-group (selectedTabChange)="loadData($event.index)" dynamicHeight mat-stretch-tabs backgroundColor="primary" color="primary" mat-align-tabs="center">
                    <mat-tab label="Local Posts">
                        <div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="localFeed && localFeed.length == 0">
                            <div class="no-comments"></div>
                            <h3>No Local Activity by {{personData.fullname | titlecase}}</h3>
                        </div>
                        <div class="example-card" *ngFor="let post of localFeed; let i = index">
                            <mat-card class="bg-light text-dark" style="cursor: pointer;">
                                <mat-card-header (click)="openPost('local', i)">
                                    <a routerLink="/profile/{{post.author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{post.author.image}});"></a>
                                    <mat-card-title><a routerLink="/profile/{{post.author.uid}}">{{post.author.name}}</a></mat-card-title>
                                    <mat-card-subtitle class="text-secondary">• {{getDate(post.postedOn._seconds)}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content (click)="openPost('local', i)">
                                    <h2>
                                        {{post.content.title}}
                                    </h2>
                                    <div class="d-flex justify-content-center">
                                        <img *ngIf="post.content.image" mat-card-image src="{{post.content.image}}" class="post-image my-2">
                                    </div>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip *ngIf="post.type=='announcement'" color="accent" selected class="text-capitalize">{{post.type}}</mat-chip>
                                        <mat-chip *ngIf="post.type=='question'" color="primary" selected class="text-capitalize">{{post.type}}</mat-chip>
                                    </mat-chip-list>
                                </mat-card-content>
                                <mat-divider></mat-divider>
                                <mat-card-actions>
                                    <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-start">
                                        <button mat-icon-button class="col-6">
                                                                <mat-icon svgIcon="claps"></mat-icon>
                                                                {{post.content.claps}}
                                                            </button>
                                        <button (click)="openPost('local', i)" mat-icon-button class="col-6 ml-2">
                                                                <mat-icon>forum</mat-icon>
                                                                {{post.answers}}
                                                            </button>
                                        <button mat-icon-button class="col-6 ml-2">
                                                                <mat-icon>share</mat-icon>
                                                            </button>
                                    </div>
                                    <ng-template #login>
                                        <div class="row d-flex justify-content-start">
                                            <button mat-icon-button class="col-6">
                                                                    <mat-icon svgIcon="claps"></mat-icon>
                                                                    {{post.content.claps}}
                                                                </button>
                                            <button mat-icon-button class="col-6 ml-2">
                                                                    <mat-icon>forum</mat-icon>
                                                                    {{post.answers}}
                                                                </button>
                                            <button mat-icon-button class="col-6 ml-2">
                                                                    <mat-icon>share</mat-icon>
                                                                </button>
                                        </div>
                                    </ng-template>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </mat-tab>
                    <mat-tab label="City Posts">
                        <div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="cityFeed && cityFeed.length == 0">
                            <div class="no-comments"></div>
                            <h3>No City Activity by {{personData.fullname | titlecase}}</h3>
                        </div>
                        <div class="example-card" *ngFor="let post of cityFeed; let i = index">
                            <mat-card class="bg-light text-dark" style="cursor: pointer;">
                                <mat-card-header (click)="openPost('city', i)">
                                    <a routerLink="/profile/{{post.author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{post.author.image}});"></a>
                                    <mat-card-title><a routerLink="/profile/{{post.author.uid}}">{{post.author.name}}</a></mat-card-title>
                                    <mat-card-subtitle class="text-secondary">• {{getDate(post.postedOn._seconds)}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content (click)="openPost('city', i)">
                                    <h2>
                                        {{post.content.title}}
                                    </h2>
                                    <div class="d-flex justify-content-center">
                                        <img *ngIf="post.content.image" mat-card-image src="{{post.content.image}}" class="post-image my-2">
                                    </div>
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip *ngIf="post.type=='announcement'" color="accent" selected class="text-capitalize">{{post.type}}</mat-chip>
                                        <mat-chip *ngIf="post.type=='question'" color="primary" selected class="text-capitalize">{{post.type}}</mat-chip>
                                    </mat-chip-list>
                                </mat-card-content>
                                <mat-divider></mat-divider>
                                <mat-card-actions>
                                    <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-start">
                                        <button mat-icon-button class="col-6">
                                                                <mat-icon svgIcon="claps"></mat-icon>
                                                                {{post.content.claps}}
                                                            </button>
                                        <button (click)="openPost('city', i)" mat-icon-button class="col-6 ml-2">
                                                                <mat-icon>forum</mat-icon>
                                                                {{post.answers}}
                                                            </button>
                                        <button mat-icon-button class="col-6 ml-2">
                                                                <mat-icon>share</mat-icon>
                                                            </button>
                                    </div>
                                    <ng-template #login>
                                        <div class="row d-flex justify-content-start">
                                            <button mat-icon-button class="col-6">
                                                                    <mat-icon svgIcon="claps"></mat-icon>
                                                                    {{post.content.claps}}
                                                                </button>
                                            <button mat-icon-button class="col-6 ml-2">
                                                                    <mat-icon>forum</mat-icon>
                                                                    {{post.answers}}
                                                                </button>
                                            <button mat-icon-button class="col-6 ml-2">
                                                                    <mat-icon>share</mat-icon>
                                                                </button>
                                        </div>
                                    </ng-template>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </mat-tab>
                    <mat-tab label="Answers">
                        <div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="answers && answers.length == 0">
                            <div class="no-comments"></div>
                            <h3>No Comments by {{personData.fullname | titlecase}}</h3>
                        </div>
                        <div class="example-card" *ngFor="let post of answers; let i = index">
                            <mat-card class="bg-light text-dark" style="cursor: pointer;">
                                <a routerLink="/post/{{post.docRef}}/{{post.pId}}">
                                    <mat-card-header>
                                        <a routerLink="/profile/{{post.author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{post.author.image}});"></a>
                                        <mat-card-title><a routerLink="/profile/{{post.author.uid}}">{{post.author.fullname}}</a></mat-card-title>
                                        <mat-card-subtitle class="text-secondary">• {{getDate(post.postedOn._seconds)}}</mat-card-subtitle>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <h2>
                                            {{post.answer}}
                                        </h2>
                                    </mat-card-content>
                                </a>
                            </mat-card>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <div *ngIf="isMobile=='false'" class="col-4" style="min-height: 100vh;">
        <mat-toolbar style="z-index: 999;position: fixed;justify-content: flex-end;width: 24%;">
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                 <mat-icon>notifications</mat-icon>
               </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>account_circle</mat-icon>
              </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>settings</mat-icon>
              </button>
        </mat-toolbar>
    </div>
</div>
<ng-template #mobileTemplate>
    <mat-toolbar style="background: black; color: white; top: 0; z-index: 9909;">
        <div class="m-3">
            <button mat-button (click)="goBack()">
                    <mat-icon>arrow_back_ios_new</mat-icon>
                </button>
        </div>
        <div style="margin-bottom: 7px;">
            <h1>{{title}}</h1>
        </div>
    </mat-toolbar>
    <app-loader *ngIf="dataLoaded==false"></app-loader>
    <div class="mobile-header" *ngIf="dataLoaded==true">
        <img src="{{personData.imageURL}}" alt="UserImage" class="user-image mb-4 m-auto">
        <div class="ms-3">
            <h1 class="user-name text-capitalize">{{personData.fullname}}</h1>
            <h3 class="user-email text-secondary">{{personData.email}}</h3>
            <mat-divider></mat-divider>
            <h2 class="bio text-capitalize">{{personData.bio}}</h2>
            <div class="location-info row">
                <div class="location-info-tag col-5 d-flex text-dark" *ngIf="personData.locality != null">
                    <mat-icon>place</mat-icon>
                    <p class="ms-2 highlight">{{personData.locality}}</p>
                </div>
                <div class="location-info-tag col-5 d-flex text-dark" *ngIf="personData.living_since != null">
                    <mat-icon>hourglass_bottom</mat-icon>
                    <p class="ms-2 text-dark">Since {{personData.living_since}} Years</p>
                </div>
                <div class="location-info-tag col-5 d-flex text-secondary">
                    <mat-icon>date_range</mat-icon>
                    <p class="ms-2">Joined {{getJoiningDate(personData.createdOn._seconds)}}</p>
                </div>
            </div>
            <button mat-raised-button color="primary" *ngIf="auth.userData && currentUser == personData.uid" routerLink="edit">Edit Profile</button>
        </div>
    </div>

    <div class="tabs">
        <mat-tab-group (selectedTabChange)="loadData($event.index)" dynamicHeight mat-stretch-tabs backgroundColor="primary" color="primary" mat-align-tabs="center">
            <mat-tab label="Local Posts">
                <div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="localFeed && localFeed.length == 0">
                    <div class="no-comments"></div>
                    <h3>No Comments by {{personData.fullname | titlecase}}</h3>
                </div>
                <div class="example-card" *ngFor="let post of localFeed; let i = index">
                    <mat-card class="bg-light text-dark" style="cursor: pointer;">
                        <a routerLink="/post/local/{{post.id}}">
                            <mat-card-header>
                                <a routerLink="/profile/{{post.author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{post.author.image}});"></a>
                                <mat-card-title><a routerLink="/profile/{{post.author.uid}}">{{post.author.name}}</a></mat-card-title>
                                <mat-card-subtitle class="text-secondary">• {{getDate(post.postedOn._seconds)}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <h2>
                                    {{post.content.title}}
                                </h2>
                                <div class="d-flex justify-content-center">
                                    <img *ngIf="post.content.image" mat-card-image src="{{post.content.image}}" class="post-image my-2">
                                </div>
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip *ngIf="post.type=='announcement'" color="accent" selected class="text-capitalize">{{post.type}}</mat-chip>
                                    <mat-chip *ngIf="post.type=='question'" color="primary" selected class="text-capitalize">{{post.type}}</mat-chip>
                                </mat-chip-list>
                            </mat-card-content>
                        </a>
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-start">
                                <button mat-icon-button class="col-6">
                                                        <mat-icon svgIcon="claps"></mat-icon>
                                                        {{post.content.claps}}
                                                    </button>
                                <button mat-icon-button class="col-6 ml-2">
                                                        <mat-icon>forum</mat-icon>
                                                        {{post.answers}}
                                                    </button>
                                <button mat-icon-button class="col-6 ml-2">
                                                        <mat-icon>share</mat-icon>
                                                    </button>
                            </div>
                            <ng-template #login>
                                <div class="row d-flex justify-content-start">
                                    <button mat-icon-button class="col-6">
                                                            <mat-icon svgIcon="claps"></mat-icon>
                                                            {{post.content.claps}}
                                                        </button>
                                    <button mat-icon-button class="col-6 ml-2">
                                                            <mat-icon>forum</mat-icon>
                                                            {{post.answers}}
                                                        </button>
                                    <button mat-icon-button class="col-6 ml-2">
                                                            <mat-icon>share</mat-icon>
                                                        </button>
                                </div>
                            </ng-template>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="City Posts">
                <div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="cityFeed && cityFeed.length == 0">
                    <div class="no-comments"></div>
                    <h3>No Comments by {{personData.fullname | titlecase}}</h3>
                </div>
                <div class="example-card" *ngFor="let post of cityFeed; let i = index">
                    <mat-card class="bg-light text-dark" style="cursor: pointer;">
                        <a routerLink="/post/city/{{post.id}}">
                            <mat-card-header>
                                <a routerLink="/profile/{{post.author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{post.author.image}});"></a>
                                <mat-card-title><a routerLink="/profile/{{post.author.uid}}">{{post.author.name}}</a></mat-card-title>
                                <mat-card-subtitle class="text-secondary">• {{getDate(post.postedOn._seconds)}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <h2>
                                    {{post.content.title}}
                                </h2>
                                <div class="d-flex justify-content-center">
                                    <img *ngIf="post.content.image" mat-card-image src="{{post.content.image}}" class="post-image my-2">
                                </div>
                                <mat-chip-list aria-label="Fish selection">
                                    <mat-chip *ngIf="post.type=='announcement'" color="accent" selected class="text-capitalize">{{post.type}}</mat-chip>
                                    <mat-chip *ngIf="post.type=='question'" color="primary" selected class="text-capitalize">{{post.type}}</mat-chip>
                                </mat-chip-list>
                            </mat-card-content>
                        </a>
                        <mat-divider></mat-divider>
                        <mat-card-actions>
                            <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-start">
                                <button mat-icon-button class="col-6">
                                                        <mat-icon svgIcon="claps"></mat-icon>
                                                        {{post.content.claps}}
                                                    </button>
                                <button (click)="openPost('city', i)" mat-icon-button class="col-6 ml-2">
                                                        <mat-icon>forum</mat-icon>
                                                        {{post.answers}}
                                                    </button>
                                <button mat-icon-button class="col-6 ml-2">
                                                        <mat-icon>share</mat-icon>
                                                    </button>
                            </div>
                            <ng-template #login>
                                <div class="row d-flex justify-content-start">
                                    <button mat-icon-button class="col-6">
                                                            <mat-icon svgIcon="claps"></mat-icon>
                                                            {{post.content.claps}}
                                                        </button>
                                    <button mat-icon-button class="col-6 ml-2">
                                                            <mat-icon>forum</mat-icon>
                                                            {{post.answers}}
                                                        </button>
                                    <button mat-icon-button class="col-6 ml-2">
                                                            <mat-icon>share</mat-icon>
                                                        </button>
                                </div>
                            </ng-template>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </mat-tab>
            <mat-tab label="Answers">
                <div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="answers && answers.length == 0">
                    <div class="no-comments"></div>
                    <h3>No Comments by {{personData.fullname | titlecase}}</h3>
                </div>
                <div class="example-card" *ngFor="let post of answers; let i = index">
                    <mat-card class="bg-light text-dark" style="cursor: pointer;">
                        <a routerLink="/post/{{post.docRef}}/{{post.pId}}">
                            <mat-card-header>
                                <a routerLink="/profile/{{post.author.uid}}" mat-card-avatar class="example-header-image" style="background-image: url({{post.author.image}});"></a>
                                <mat-card-title><a routerLink="/profile/{{post.author.uid}}">{{post.author.fullname}}</a></mat-card-title>
                                <mat-card-subtitle class="text-secondary">• {{getDate(post.postedOn._seconds)}}</mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <h2>
                                    {{post.answer}}
                                </h2>
                            </mat-card-content>
                        </a>
                    </mat-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</ng-template>