<div class="row text-center m-auto">
    <h1 class="col-12">{{data[step].title}}</h1>
    <img src="{{data[step].img}}" alt="pas" class="col-lg-6 col-sm-4 m-auto">
    <h3 class="col-12">{{data[step].description}}</h3>
    <div class="bottom-cta d-flex flex-row justify-content-between col-12">
        <button mat-flat-button *ngIf="step==0" (click)="close()">SKIP</button>
        <button mat-flat-button *ngIf="step>=1" (click)="back()">BACK</button>
        <button mat-raised-button (click)="increaseStep()" *ngIf="step!=3" color="primary">NEXT</button>
        <button mat-raised-button (click)="close()" *ngIf="step==3" color="primary">GET STARTED</button>
    </div>
    <mat-divider></mat-divider>
    <div class="d-flex flex-row text-center" *ngIf="step==3">
        <mat-icon>info_outlined</mat-icon>
        <p>By Continuing, You Agree to Our <a target="_blank" href="https://local-eyes.tech/tnc/">Terms of Use</a> and <a target="_blank" href="https://local-eyes.tech/privacy-policy">Privacy Policy</a>
    </div>
</div>