a {
    text-decoration: none;
    color: black;
}

.post-image {
    width: calc(50% + 32px);
    margin-bottom: 0px;
}

.mat-card-image:first-child {
    margin-top: 0px;
}

.no-comments {
    background-repeat: no-repeat;
    min-height: 245px;
    min-width: 400px;
    background-size: contain;
    background-position: top;
    background-image: url('../../../assets/imgs/no-comments.svg');
}