<mat-card [ngClass]="{'bg-dark text-light': !isMobile, 'bg-light text-dark': isMobile}">
    <mat-card-header>
        <mat-chip-list aria-label="Post type">
            <mat-chip *ngIf="post.type=='announcement'" color="accent" selected class="text-capitalize">{{post.type}}</mat-chip>
            <mat-chip *ngIf="post.type=='question'" color="primary" selected class="text-capitalize">{{post.type}}</mat-chip>
        </mat-chip-list>
        <img src="{{post.author.image}}" mat-card-avatar>
        <mat-card-title><a routerLink="profile/{{post.author.uid}}">{{post.author.name}}</a></mat-card-title>
        <mat-card-subtitle class="text-secondary">• Living in <span class="highlight text-capitalize">{{post.author.locality}}</span> since {{post.author.living_since}} Years</mat-card-subtitle>
    </mat-card-header>
    <h1 mat-dialog-title>{{post.content.title}}</h1>
    <h4 mat-dialog-content> {{post.content.description}} </h4>
    <mat-card-subtitle *ngIf="post.hitMetadata" class="text-secondary">~ {{post.hitMetadata.distance.toString().slice(0, 4)}} km away from you</mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-around">
            <button mat-icon-button (click)="incrementClaps(post.id, i)" class="col-6">
                <mat-icon>celebration</mat-icon>
                {{post.content.claps}}
            </button>
            <button mat-icon-button class="col-6 ml-2">
                <mat-icon>forum</mat-icon>
                {{post.answers}}
            </button>
            <button mat-icon-button (click)="copyToClipboard(post.id)" class="col-6 ml-2">
                <mat-icon>share</mat-icon>
            </button>
        </div>
        <ng-template #login>
            <div class="row d-flex justify-content-around">
                <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                    <mat-icon>celebration</mat-icon>
                    {{post.content.claps}}
                </button>
                <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                    <mat-icon>forum</mat-icon>
                    {{post.answers}}
                </button>
                <button mat-icon-button (click)="copyToClipboard(post.id)" class="col-6 ml-2">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </ng-template>
    </mat-card-actions>
</mat-card>
<div class="container m-auto" *ngIf="answersLoaded == false">
    <app-loader></app-loader>
</div>
<h1 class="d-flex justify-content-center m-auto col-12" *ngIf="answersLoaded && answers.length == 0">
    Nothing to Show. Be the first one to ANSWER.
</h1>
<mat-card *ngFor="let answer of answers; let i = index;" class="bg-dark text-light m-3">
    <mat-card-header>
        <img src="{{answer.author.image}}" mat-card-avatar>
        <mat-card-title><a routerLink="profile/{{answer.author.uid}}">{{answer.author.fullname}}</a></mat-card-title>
        <mat-card-subtitle class="text-secondary">• Living in <span class="highlight text-capitalize">{{answer.author.locality}}</span> since {{answer.author.living_since}} Years</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p> {{answer.answer}} </p>
    </mat-card-content>
</mat-card>