<mat-card class="bg-light text-dark">
    <mat-card-header>
        <mat-chip-list aria-label="Post type">
            <mat-chip *ngIf="post.type=='announcement'" color="accent" selected class="text-capitalize">{{post.type}}</mat-chip>
            <mat-chip *ngIf="post.type=='question'" color="primary" selected class="text-capitalize">{{post.type}}</mat-chip>
        </mat-chip-list>
        <img src="{{post.author.image}}" mat-card-avatar>
        <mat-card-title><a routerLink="profile/{{post.author.uid}}">{{post.author.name}}</a></mat-card-title>
        <mat-card-subtitle class="text-secondary">• Living in <span class="highlight text-capitalize">{{post.author.locality}}</span> since {{post.author.living_since}} Years</mat-card-subtitle>
    </mat-card-header>
    <h1 mat-dialog-title>{{post.content.title}}</h1>
    <h4 mat-dialog-content> {{post.content.description}} </h4>
    <div class="d-flex justify-content-center" style="background: black;">
        <img *ngIf="post.content.image" mat-card-image src="{{post.content.image}}" class="post-image">
    </div>
    <mat-card-subtitle *ngIf="post.hitMetadata" class="text-secondary">~ {{post.hitMetadata.distance.toString().slice(0, 4)}} km away from you</mat-card-subtitle>
    <mat-card-subtitle *ngIf="post.city != null" class="text-secondary">~ Posted in {{post.city}} </mat-card-subtitle>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <div *ngIf="auth.user$ | async as user; else login" class="row d-flex justify-content-around">
            <button mat-icon-button (click)="incrementClaps(post.id, i)" class="col-6">
                <mat-icon svgIcon="claps"></mat-icon>
                {{post.content.claps}}
            </button>
            <button mat-icon-button class="col-6 ml-2">
                <mat-icon>forum</mat-icon>
                {{post.answers}}
            </button>
            <button *ngIf="post.city != null" mat-icon-button (click)="copyToClipboard('city', post.id)" class="col-6 ml-2">
                <mat-icon>share</mat-icon>
            </button>
            <button *ngIf="post.city == null" mat-icon-button (click)="copyToClipboard('local', post.id)" class="col-6 ml-2">
                <mat-icon>share</mat-icon>
            </button>
        </div>
        <ng-template #login>
            <div class="row d-flex justify-content-around">
                <button mat-icon-button (click)="openSignInChecker()" class="col-6">
                    <mat-icon svgIcon="claps"></mat-icon>
                    {{post.content.claps}}
                </button>
                <button mat-icon-button (click)="openSignInChecker()" class="col-6 ml-2">
                    <mat-icon>forum</mat-icon>
                    {{post.answers}}
                </button>
                <button *ngIf="post.city != null" mat-icon-button (click)="copyToClipboard('city', post.id)" class="col-6 ml-2">
                    <mat-icon>share</mat-icon>
                </button>
                <button *ngIf="post.city == null" mat-icon-button (click)="copyToClipboard('local', post.id)" class="col-6 ml-2">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </ng-template>
    </mat-card-actions>
</mat-card>

<div class="container m-auto" *ngIf="answersLoaded == false">
    <app-loader></app-loader>
</div>
<div class="d-flex flex-column align-items-center justify-content-center m-auto col-12" *ngIf="answersLoaded && answers.length == 0">
    <div class="no-comments"></div>
    <h2>Nothing to Show. Be the first one to ANSWER.</h2>
</div>
<mat-card *ngFor="let answer of answers; let i = index;" class="bg-light text-dark m-3">
    <mat-card-header>
        <img src="{{answer.author.image}}" mat-card-avatar>
        <mat-card-title><a routerLink="profile/{{answer.author.uid}}">{{answer.author.fullname}}<mat-icon *ngIf="answer.author.role=='admin'" style="color: #5851DB; font-size: 20px;" class="mx-2">verified</mat-icon></a></mat-card-title>
        <mat-chip *ngIf="answer.author.uid==post.author.uid" color="accent" selected class="text-capitalize chip-s">author</mat-chip>
        <mat-card-subtitle class="text-secondary">• Living in <span class="highlight text-capitalize">{{answer.author.locality}}</span> since {{answer.author.living_since}} Years</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p> {{answer.answer}} </p>
    </mat-card-content>
</mat-card>
<div *ngIf="auth.userData">
    <app-comments (newCommentEvent)="addComment($event)" *ngIf="post.city === null; else city" [docRef]="'local'" [postId]="post.id"></app-comments>
    <ng-template #city>
        <app-comments (newCommentEvent)="addComment($event)" [docRef]="'city'" [postId]="post.id"></app-comments>
    </ng-template>
</div>